<template>
  <div class="hello">
    <header class="app__header">
      <nav class="app__nav">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="logo"><a href="#">Светило</a></h2>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="app__main">
      <b-container>
        <b-row class="my-5" :key="room.id" v-for="room in rooms">
          <b-col cols="6">
            <div class="room__title">
              {{room.title}}
            </div>
          </b-col>
          <b-col cols="4">
            <div
              class="room__light-switch"
              @click="roomLightSwitchClickHandler(room.id)"
              :style="lightSwitchStyle(room.id)"
            ></div>
          </b-col>
          <b-col cols="2">
            <a
              @click="editRoomBtnClickHandler(room.id)"
              class="room__more-details-btn"
            >
              <i class="fas fa-pencil-alt"></i>
            </a>
          </b-col>
        </b-row>
      </b-container>
    </main>
    <RoomInfo
      @update-light-preset="updateLightPreset"
      @update-light-mode="updateLightModeHandler"
      @close-room-info="closeRoomInfoHandler"
      v-if="isRoomEdit"
      :room-id="isRoomEditId"
      :light-modes="lightModes"
      :rooms="rooms"
      :lightPresets="lightPresets"
    />
    <notifications group="foo" />
  </div>
</template>

<script>

// eslint-disable-next-line import/extensions
import RoomInfo from '@/components/RoomInfo';

export default {
  name: 'App',
  components: {
    RoomInfo,
  },
  data() {
    return {
      isRoomEdit: false,
      isRoomEditId: 1,
      lightModes: [
        {
          id: 1,
          title: '123',
          roomId: 1,
          isActive: false,
          lightBrightness: 10,
          color: '#00ff00',
          timeStart: '10:20',
          timeEnd: '20:30',
          isRepeat: true,
          weekDays: [],
          switchOffVariants: ['Не выключать', 'По движению', 'По хлопку', 'По времени'],
          switchOnVariants: ['Не включать', 'По движению', 'По хлопку', 'По времени'],
          selectedSwitchOnVariant: 'По хлопку',
          selectedSwitchOffVariant: 'По хлопку',
          usePreset: false,
          presetId: 1,
        },
        {
          id: 2,
          title: '456',
          roomId: 1,
          isActive: false,
          lightBrightness: 10,
          color: '#00ff00',
          timeStart: '10:20',
          timeEnd: '20:30',
          isRepeat: true,
          weekDays: [],
          switchOffVariants: ['Не выключать', 'По движению', 'По хлопку', 'По времени'],
          switchOnVariants: ['Не включать', 'По движению', 'По хлопку', 'По времени'],
          selectedSwitchOnVariant: 'Не включать',
          selectedSwitchOffVariant: 'Не выключать',
          usePreset: false,
          presetId: 1,
        },
      ],
      lightPresets: [
        {
          id: 1,
          roomId: 1,
          title: 'Кальянная',
          color: '#ff0000',
          brightness: 10,
        },
        {
          id: 2,
          roomId: 1,
          title: 'Аквадискотека!',
          color: '#00ff00',
          brightness: 20,
        },
      ],
      rooms: [
        {
          id: 1,
          title: 'Кухня',
          isActive: false,
          color: '#ff0000',
          brightness: 20,
          usePreset: false,
          presetId: 1,
        },
        {
          id: 2,
          title: 'Гостиная',
          isActive: false,
          color: '#00ff00',
          brightness: 20,
          usePreset: false,
          presetId: 1,
        },
        {
          id: 3,
          title: 'Уборная',
          isActive: false,
          color: '#00ffff',
          brightness: 50,
          usePreset: false,
          presetId: 1,
        },
      ],
    };
  },
  methods: {
    closeRoomInfoHandler() {
      this.isRoomEdit = false;
      this.isRoomEditId = -1;
    },
    roomLightSwitchClickHandler(roomId) {
      const room = this.rooms.find((r) => (roomId === r.id));
      room.isActive = !room.isActive;
    },

    editRoomBtnClickHandler(roomId) {
      this.isRoomEdit = true;
      this.isRoomEditId = roomId;
    },
    lightSwitchStyle(roomId) {
      const room = this.rooms.find((r) => r.id === roomId);
      const { color, lightBrightness, isActive } = room;
      const borderColor = isActive ? color : '#aaaaaa';
      const blur = lightBrightness === 0 ? 0 : 10;
      const maxStretching = 20;
      const stretching = (lightBrightness * maxStretching) / 100;
      const boxShadow = !isActive ? 'none' : `0 0 ${blur}px ${stretching}px ${room.color}`;
      const style = { borderColor, boxShadow };

      return style;
    },

    changeColor(color) {
      const {
        r, g, b, a,
      } = color.rgba;
      this.color = `rgba(${r}, ${g}, ${b}, ${a})`;
    },
    openSucker(isOpen) {
      if (isOpen) {
        // ... canvas be created
        // this.suckerCanvas = canvas
        // this.suckerArea = [x1, y1, x2, y2]
      } else {
        // this.suckerCanvas && this.suckerCanvas.remove
      }
    },

    updateLightPreset(updateLightPreset) {
      const oldLightPresetIndex = this.lightPresets.findIndex(
        (lp) => (lp.id === updateLightPreset.id),
      );
      if (oldLightPresetIndex !== -1) {
        this.lightPresets.splice(oldLightPresetIndex, 1, updateLightPreset);
        this.$notify({
          group: 'foo',
          title: 'Успех!',
          text: 'Пресет был успешно изменен!',
          type: 'success',
        });
      } else {
        this.lightPresets.push(updateLightPreset);
        this.$notify({
          group: 'foo',
          title: 'Успех!',
          text: 'Пресет был успешно изменен!',
          type: 'success',
        });
      }
    },

    updateLightModeHandler(updateLightMode) {
      // eslint-disable-next-line array-callback-return,max-len
      const updateLightModeIndex = this.lightModes.findIndex((lm) => (lm.id === updateLightMode.id));
      console.log(updateLightMode);
      if (updateLightModeIndex !== -1) {
        this.lightModes.splice(updateLightModeIndex, 1, updateLightMode);
        this.$notify({
          group: 'foo',
          title: 'Успех!',
          text: 'Режим был успешно изменен!',
          type: 'success',
        });
      } else {
        this.lightModes.push(updateLightMode);
        this.$notify({
          group: 'foo',
          title: 'Успех!',
          text: 'Режим был успешно создан!',
          type: 'success',
        });
      }
    },
  },
};
</script>

<style lang="scss">
@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~verte/dist/verte.css';
@import '~@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.app {
  &__nav {
    background: #fafafa;
    padding: 20px 0;
  }
  &__main {
    max-width: 100vw;
  }
}

.room-list {
  &__elem {
    padding: 25px 0;
  }
}
.room {
  &__title {
    font-size: 1.5em;
  }
  &__light-switch {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 3px solid;
  }
  &__more-details-btn {
    cursor: pointer;
    font-size: 1.3em;
    &:hover {
      text-decoration: none;
    }
  }
}

.room-info {
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  background: #fcfcfc;
  width: 100vw;
  height: 100vh;
}
</style>
