<template>
  <div class="light-mode">
      <div class="row">
        <b-tabs content-class="mt-3" fill>
          <b-tab title="Общее">
            <div class="col-12">
              <div class="form-group">
                <label class="form-check-label" for="mode-title">
                  <span class="settings-title">Заголовок</span>
                </label>
                <br/>
                <b-form-input
                  class="form-input"
                  type="text"
                  v-model="editLightMode.title"
                  id="mode-title"
                />
              </div>
            </div>
          </b-tab>
          <b-tab title="Вкл.">
            <div class="row">
              <div class="col-7">
                <span class="settings-title">Включение:</span>
                <div
                  class="form-check my-3"
                  v-for="(onVariant, onVariantIndex) in editLightMode.switchOnVariants"
                  :key="onVariantIndex"
                >
                  <input
                    :id="`on-variant-${editLightMode.id}-${onVariantIndex}`"
                    type="radio"
                    class="form-check-input"
                    :value="onVariant"
                    v-model="editLightMode.selectedSwitchOnVariant">
                  <label
                    :for="`on-variant-${editLightMode.id}-${onVariantIndex}`"
                    class="form-check-label"
                  >
                    {{onVariant}}
                  </label>
                </div>
              </div>
              <div
                v-if="editLightMode.selectedSwitchOnVariant === 'По времени'"
                class="col-2 align-self-end clock-input"
              >
                <VueClockPicker
                  input-class="clock-input"
                  v-model="editLightMode.timeStart"
                  value="13:30"/>
              </div>
            </div>
          </b-tab>
          <b-tab title="Выкл.">
            <div class="row">
              <div class="col-7">
                <span class="settings-title">Выключение:</span>
                <div
                  class="form-check my-3"
                  v-for="(offVariant, offVariantIndex) in editLightMode.switchOffVariants"
                  :key="offVariantIndex"
                >
                  <input
                    :id="`off-variant-${editLightMode.id}-${offVariantIndex}`"
                    type="radio"
                    class="form-check-input"
                    :value="offVariant"
                    v-model="editLightMode.selectedSwitchOffVariant">
                  <label
                    :for="`off-variant-${editLightMode.id}-${offVariantIndex}`"
                    class="form-check-label"
                  >
                    {{offVariant}}
                  </label>
                </div>
              </div>
              <div
                v-if="editLightMode.selectedSwitchOffVariant === 'time'"
                class="col-5 align-self-center"
              >
                <VueClockPicker
                  input-class="form-control"
                  v-model="editLightMode.timeEnd"
                  value="13:30"/>
              </div>
            </div>
          </b-tab>
          <b-tab title="Повтор">
            <div class="row">
              <div class="col-12">
                <WeekDaysList
                  :week-days="editLightMode.weekDays"
                  @change-week-days="changeWeekDaysHandler"
                />
              </div>
            </div>
          </b-tab>
        </b-tabs>
        <div class="col-12">
          <div class="btn-container">
            <button
              type="button"
              class="btn btn-primary btn-block"
              @click="cancelBtnHandler"
            >Сброс</button>
            <button
              type="button"
              class="btn btn-primary btn-block"
              @click="saveBtnHandler"
            >Сохранить</button>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import VueClockPicker from '@pencilpix/vue2-clock-picker';
import WeekDaysList from '@/components/WeekDaysList.vue';

const cloneDeep = require('clone-deep');

export default {
  name: 'LightMode',
  components: {
    VueClockPicker,
    WeekDaysList,
  },
  props: {
    lightMode: Object,
    lightPresets: Array,
  },
  data() {
    return {
      editLightMode: null,
      selectedSwitchOnVariant: 'Никак',
      selectedSwitchOffVariant: 'Никак',
      selectedLightPreset: {},
    };
  },

  methods: {
    lightPresetSelectList() {
      const lightPresetSelectList = this.lightPresets.map((lp) => ({
        text: lp.title,
        value: { ...lp },
      }));
      return [...lightPresetSelectList];
    },
    changeWeekDaysHandler(weekDays) {
      console.log(weekDays);
      this.editLightMode.weekDays = [...weekDays];
    },
    brightnessChangeHandler(e) {
      this.editLightMode.lightBrightness = e.target.value;
    },
    lightPresetListHandler(selectLightPreset) {
      this.selectedLightPreset = selectLightPreset;
      this.editLightMode.presetId = selectLightPreset.id;
      this.editLightMode.lightBrightness = selectLightPreset.brightness;
      this.editLightMode.color = selectLightPreset.color;
    },
    changeColorHandler(color) {
      this.editLightMode.color = color;
    },
    usePresetCheckboxHandler(e) {
      this.editLightMode.usePreset = e.target.checked;
      if (this.editLightMode.usePreset) {
        this.editLightMode.lightBrightness = this.selectedLightPreset.brightness;
        this.editLightMode.color = this.selectedLightPreset.color;
      }
    },
    saveBtnHandler() {
      this.$emit('update-light-mode', cloneDeep(this.editLightMode));
    },
    cancelBtnHandler() {
      this.editLightMode = { ...this.lightMode };
    },
    getBrightnessValue() {
      if (this.editLightMode.usePreset) {
        return this.selectedLightPreset.brightness;
      }
      return this.editLightMode.lightBrightness;
    },
    getColorValue() {
      if (this.editLightMode.usePreset) {
        return this.selectedLightPreset.color;
      }
      return this.editLightMode.color;
    },
  },

  beforeMount() {
    this.editLightMode = { ...this.lightMode };
    const activeLightPreset = this.lightPresets.find(
      (lp) => lp.id === (this.editLightMode.presetId),
    );
    if (activeLightPreset === undefined) {
      this.selectedLightPreset = { ...this.lightPresets[0] };
    } else {
      this.selectedLightPreset = activeLightPreset;
    }
  },
};
</script>

<style scoped>
.time-picker {
  margin-bottom: 15px;
}
.btn-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-block {
  width: 130px;
}

.settings-title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.clock-input {
  width: 50px !important;
}
</style>
