<template>
<div class="light-presets-section">
  <div
    v-if="isOpenCreateLightPreset"
    class="create-light-preset-container"
  >
    <div class="container">
      <div class="row">
        <LightPreset
          @hide-light-preset="hideOpenLightPreset"
          @save-light-preset="saveOpenLightPreset"
          :light-preset="{
          id: Math.random() * 1000,
          roomId: roomId,
          title: '',
          color: '#000000',
          brightness: 0,
      }"
        />
      </div>
    </div>
  </div>
  <header class="light-presets-section__header">
    <button
      @click="createLightPresetBtnHandler"
      class="btn btn-primary create-light-preset-btn btn-lg"
    >
      Создать пресет
    </button>
  </header>
  <div class="light-preset-list list-group">
    <div
      class="list-preset-item list-group-item list-group-item-action"
      v-for="lightPreset in lightPresets"
      :key="lightPreset.id"
    >
      <a
        class="link-primary list-preset-item__link"
        href="#"
        @click="lightPresetClickHandler(lightPreset.id)">{{lightPreset.title}}</a>

      <LightPreset
        v-if="activeLightPresetId === lightPreset.id"
        @hide-light-preset="hideOpenLightPreset"
        @save-light-preset="saveOpenLightPreset"
        :light-preset="getLightPreset(activeLightPresetId)" />
    </div>
  </div>
</div>
</template>

<script>

import LightPreset from '@/components/LightPreset.vue';

export default {
  name: 'LightPresets',
  components: {
    LightPreset,
  },
  props: {
    lightPresets: Array,
    roomId: Number,
  },
  data() {
    return {
      activeLightPresetId: null,
      isOpenCreateLightPreset: false,
      curLightPresets: [],
    };
  },
  beforeMount() {
    this.curLightPresets = this.lightPresets.map((lp) => ({ ...lp }));
  },
  methods: {
    getLightPreset(id) {
      return this.lightPresets.find((lp) => lp.id === id);
    },
    lightPresetClickHandler(id) {
      if (id === this.activeLightPresetId) {
        this.activeLightPresetId = null;
        return;
      }
      this.activeLightPresetId = id;
    },
    createLightPresetBtnHandler() {
      this.isOpenCreateLightPreset = true;
    },
    hideOpenLightPreset() {
      this.isOpenCreateLightPreset = false;
      this.activeLightPresetId = null;
    },
    saveOpenLightPreset(updateLightPreset) {
      this.$emit('update-light-preset', updateLightPreset);
      this.hideOpenLightPreset();
    },
  },
};
</script>

<style lang="scss" scoped>

.light-presets-section {
  &__header {
    margin-bottom: 15px;
  }
}

.create-light-preset-btn {
  width: 100%;
}

.list-preset-item {
  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.list-group-item-action {
  padding: 20px 0;
}

.create-light-preset-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 5;
}
</style>
