<template>
  <div class="light-modes">
    <b-button
      v-b-modal.modal-1
      variant="primary"
      class="btn-lg create-light-mode"
    >
      Создать режим
    </b-button>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="container">
        <div
          v-for="lightMode in lightModes.filter((lm) => (lm.roomId === roomId))"
          :key="lightMode.id"
          class="accordion-item">
          <header
            class="accordion__header"
            id="flush-headingOne"
            @click="startEditLightMode(lightMode.id)"
          >
            <div class="preset">
              {{ lightMode.title }}
            </div>
            <div class="periodicity">
              {{ getPeriodicityString(lightMode.weekDays)}}
            </div>
            <!--
            <div class="time">
              {{ getSwitchOnTimeString(lightMode) }} -
              {{ getSwitchOffTimeString(lightMode) }}
            </div>
            -->
            <div @click.stop class="toggle-btn">
              <ToggleButton
                :value="lightMode.isActive" @change="toggleBtnHandler(lightMode.id, $event)"/>
            </div>
            <button
              :ref="`flush-collapseOne-${lightMode.id}`"
              @click="startEditLightMode(lightMode.id)"
              class="accordion-button collapsed"
              style="position: absolute; opacity: 0; z-index: -999;"
              type="button" data-bs-toggle="collapse"
              :data-bs-target="`#flush-collapseOne-${lightMode.id}`"
              aria-expanded="true" aria-controls="flush-collapseOne">
            </button>
          </header>
          <div
            :id="`flush-collapseOne-${lightMode.id}`"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <LightMode
                @update-light-mode="updateLightModeHandler"
                :light-mode="lightMode" :light-presets="lightPresets"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="create-light-model-ref" id="modal-1" hide-footer title="Создание режима">
      <LightMode
        @update-light-mode="updateLightModeHandler"
        :light-mode="{
          id: Math.round(Math.random() * 1000),
          roomId: roomId,
          isActive: false,
          lightBrightness: 0,
          color: '#000000',
          timeStart: '10:20',
          timeEnd: '20:30',
          isRepeat: true,
          weekDays: [],
          switchOffVariants: ['Не выключать', 'По движению', 'По хлопку', 'По времени'],
          switchOnVariants: ['Не включать', 'По движению', 'По хлопку', 'По времени'],
          selectedSwitchOnVariant: 'motion',
          selectedSwitchOffVariant: 'time',
          usePreset: false,
          presetId: 1,
      }" :light-presets="lightPresets"/>
    </b-modal>
  </div>
</template>

<script>
import { ToggleButton } from 'vue-js-toggle-button';
import LightMode from '@/components/LightMode.vue';

export default {
  name: 'LighteModes',
  components: {
    ToggleButton,
    LightMode,
  },
  props: {
    lightPresets: Array,
    lightModes: Array,
    roomId: Number,
  },
  data() {
    return {
      lightMode: {
        roomId: this.roomId,
        lightBrightness: 10,
        color: '#000000',
        onTime: '',
        offTime: '',
        weekDays: [0, 0, 0, 0, 0, 0, 0],
      },
      editLightModeId: 0,
      isLightModeEdit: false,
      isLightPresetsOpen: false,
    };
  },
  methods: {
    getWeekDays(weekDays) {
      const weekDaysNames = ['пн', 'вт', 'ср', 'чт', 'пт', 'cб', 'вс'];
      return weekDaysNames.filter((wd, index) => weekDays[index] !== 0);
    },
    getPresetTitle(lightMode) {
      return lightMode.usePreset
        ? this.lightPresets.find((lp) => (lp.id === lightMode.presetId)).title
        : 'Польз.';
    },
    toggleBtnHandler(lightModeId, e) {
      console.log(e, lightModeId);
      const lightMode = this.lightModes.find((lm) => (lm.id === lightModeId));
      lightMode.isActive = e.value;
      this.updateLightModeHandler(lightMode);
    },

    getPeriodicityString(weekDays) {
      const weekDaysNames = ['пн', 'вт', 'ср', 'чт', 'пт', 'cб', 'вс'];
      if (weekDays.length === 7) {
        return 'Ежедневно';
      }
      if (weekDays.length === 0) {
        return 'Без повторов';
      }
      if (weekDays.length === 1) {
        const eventDay = weekDays[0];
        const today = (new Date()).getDay();
        if (today === eventDay) {
          return 'Завтра';
        }
      }
      return weekDays.map((wd, index) => (weekDaysNames[index])).join(', ');
    },

    getSwitchOnTimeString(lightMode) {
      if (lightMode.selectedSwitchOnVariant === 'time') {
        return lightMode.timeStart;
      }
      return lightMode.selectedSwitchOnVariant;
    },

    getSwitchOffTimeString(lightMode) {
      if (lightMode.selectedSwitchOffVariant === 'time') {
        return lightMode.timeEnd;
      }
      return lightMode.selectedSwitchOffVariant;
    },
    startAddLightMode(e) {
      console.log(e);
      e.preventDefault();
      // this.isLightModeEdit = !this.isLightModeEdit;
    },

    startEditLightMode(lightModeId) {
      const refName = `flush-collapseOne-${lightModeId}`;
      this.$refs[refName][0].click();
    },
    updateLightPreset(updateLightPreset) {
      this.$emit('update-light-preset', updateLightPreset);
    },
    updateLightModeHandler(updateLightMode) {
      this.$refs['create-light-model-ref'].hide();
      this.$emit('update-light-mode', updateLightMode);
    },
  },
  computed: {
    roomLightModes() {
      return this.lightModes.filter((lm) => lm.roomId === this.roomId);
    },
    activeRoom() {
      return this.rooms.find((r) => r.id === this.roomId);
    },

    roomLightPresets() {
      return this.lightPresets.filter((lp) => lp.roomId === this.roomId);
    },
  },
};
</script>

<style lang="scss" scope>
.accordion {
  &-item {
    border-bottom: 1px solid #2c3e50;
  }
  &__header {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
  }
}

.create-light-mode {
  width: 100%;
}
</style>
