<template>
<div class="light-preset-section" v-if="lightPreset !== null">
  <form>
    <div class="form-group row">
      <div class="col-5">
        <label for="presetTitleInput">Enter title</label>
      </div>
      <div class="col-7">
        <input
          v-model="curLightPreset.title"
          type="text"
          class="form-control"
          id="presetTitleInput"
          placeholder="Enter title">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <label for="inputColor">Pick color</label>
      </div>
      <div class="col-7">
        <verte
          id="inputColor"
          model="hex"
          picker="square"
          v-model="curLightPreset.color" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <label for="lightBrightness" class="form-label">Light Brightness: </label>
      </div>
      <div class="col-7">
        <input
          type="range"
          class="form-range"
          id="lightBrightness"
          v-model="curLightPreset.brightness">
        <small
          id="lightBrightnessHelp"
          class="form-text text-muted"
        >
          {{curLightPreset.brightness}}
        </small>
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary btn-block"
          @click="cancelBtnHandler"
        >Cancel</button>
        <button
          type="button"
          class="btn btn-primary btn-block"
          @click="saveBtnHandler"
        >Save</button>
      </div>
    </div>
  </form>
  <div
    class="modal fade"
    id="exampleModalLong"
    tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Изменения успешно сохранены!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import verte from 'verte';
import 'bootstrap';

export default {
  name: 'LightPreset',
  components: {
    verte,
  },
  props: {
    lightPreset: Object,
  },
  data() {
    return {
      curLightPreset: Object.assign(this.lightPreset, {}),
    };
  },
  methods: {
    saveBtnHandler() {
      this.$emit('save-light-preset', this.curLightPreset);
      this.$emit('hide-light-preset');
    },
    cancelBtnHandler() {
      this.curLightPreset = { ...this.lightPreset };
      this.$emit('hide-light-preset', this.curLightPreset);
    },
  },
  beforeMount() {
    this.curLightPreset = { ...this.lightPreset };
  },
};
</script>

<style lang="scss" scoped>
@import '~verte/dist/verte.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.light-preset-section {

  margin-top: 30px;
}
.form-group {
  margin-bottom: 20px;
  .btn {
    width: 40%;
    margin: 0 5%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

</style>
