<template>
  <div class="room-info">
    <div class="container">
      <div class="room-info__header">
        <h2 class="room-info__title">{{activeRoom.title}}</h2>
        <button @click="$emit('close-room-info')" class="btn btn-primary back-btn">
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
      <div class="row">
        <div class="col-12">
          <b-tabs content-class="mt-3" justified>
            <b-tab title="Текущие">
              <div class="container">
                <div class="row gy-2">
                  <div class="col-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        :checked="room.usePreset"
                        @change="usePresetCheckboxHandler"
                        id="usePresetCheck">
                      <label class="form-check-label" for="usePresetCheck">
                        Использовать пресет
                      </label>
                    </div>
                  </div>
                  <div class="col-12">
                    <template v-if="room.usePreset">
                      <div>
                        <b-form-select
                          :value="selectedLightPreset"
                          @change="lightPresetListHandler"
                          :options="lightPresetSelectList()"
                          class="mb-3"
                        />
                      </div>
                    </template>
                  </div>
                  <div class="col-12">Яркость: </div>
                  <div class="col-12">
                    <input type="range"
                           class="form-range"
                           min="0" max="100"
                           step="1"
                           id="customRange"
                           :value="getBrightnessValue()"
                           @change="brightnessChangeHandler"
                           :disabled="room.usePreset"
                    >
                  </div>
                  <div class="col-12">Цвет: </div>
                  <div class="col-12">
                    <verte
                      model="hex"
                      picker="square"
                      :value="getColorValue()"
                      @input="changeColorHandler"
                      :disabled="room.usePreset"
                    />
                  </div>
                  <div class="col-12">
                    <div class="btn-container">
                      <button
                        type="button"
                        class="btn btn-primary btn-block btn-lg"
                        @click="cancelBtnHandler"
                      >Сброс</button>
                      <button
                        type="button"
                        class="btn btn-primary btn-block btn-lg"
                        @click="saveBtnHandler"
                      >Сохранить</button>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab title="Пресеты" active>
                <LightPresets
                  :light-presets="lightPresets"
                  :room-id="roomId"
                  @update-light-preset="updateLightPreset"
                />
            </b-tab>
            <b-tab title="Режимы">
              <LightModes
                @update-light-mode="updateLightModeHandler"
                :light-presets="lightPresets"
                :light-modes="lightModes"
                :room-id="roomId" />
            </b-tab>
          </b-tabs>
        </div>
        <div class="col-12">

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LightModes from '@/components/LightModes.vue';

import LightPresets from '@/components/LightPresets.vue';

import verte from 'verte';

export default {
  name: 'RoomInfo',
  components: {
    LightPresets,
    LightModes,
    verte,
  },
  props: {
    roomId: Number,
    rooms: Array,
    lightModes: Array,
    lightPresets: Array,
  },
  data() {
    return {
      room: null,
      selectedLightPreset: {},
    };
  },
  methods: {
    lightPresetSelectList() {
      const lightPresetSelectList = this.lightPresets.map((lp) => ({
        text: lp.title,
        value: { ...lp },
      }));
      return [...lightPresetSelectList];
    },
    getWeekDays(weekDays) {
      const weekDaysNames = ['пн', 'вт', 'ср', 'чт', 'пт', 'cб', 'вс'];
      return weekDaysNames.filter((wd, index) => weekDays[index] !== 0);
    },

    toggleBtnHandler() {
      console.log(123);
    },

    getPeriodicityString(weekDays) {
      const weekDaysNames = ['пн', 'вт', 'ср', 'чт', 'пт', 'cб', 'вс'];
      const filteredWeekDaysNames = weekDaysNames.filter((wd, index) => weekDays[index] !== 0);
      if (filteredWeekDaysNames.length === 7) {
        return 'Ежедневно';
      }
      if (filteredWeekDaysNames.length === 1) {
        const eventDay = weekDays.findIndex((d) => d !== 0);
        const today = (new Date()).getDay();
        if (today === eventDay) {
          return 'Завтра';
        }
      }
      return filteredWeekDaysNames.join(', ');
    },

    getSwitchOnTimeString(lightMode) {
      if (lightMode.selectedSwitchOnVariant === 'По времени') {
        return lightMode.timeStart;
      }
      return lightMode.selectedSwitchOnVariant;
    },

    getSwitchOffTimeString(lightMode) {
      if (lightMode.selectedSwitchOffVariant === 'По времени') {
        return lightMode.timeEnd;
      }
      return lightMode.selectedSwitchOffVariant;
    },
    startAddLightMode(e) {
      console.log(e);
      e.preventDefault();
      // this.isLightModeEdit = !this.isLightModeEdit;
    },

    startEditLightMode(lightModeId) {
      const refName = `flush-collapseOne-${lightModeId}`;
      this.$refs[refName][0].click();
    },
    updateLightPreset(updateLightPreset) {
      this.$emit('update-light-preset', updateLightPreset);
    },
    updateLightModeHandler(updateLightMode) {
      this.$emit('update-light-mode', updateLightMode);
    },
    lightPresetListHandler(selectLightPreset) {
      this.selectedLightPreset = selectLightPreset;
      this.room.lightBrightness = selectLightPreset.brightness;
      this.room.color = selectLightPreset.color;
    },
    getBrightnessValue() {
      if (this.room.usePreset) {
        return this.selectedLightPreset.brightness;
      }
      return this.room.brightness;
    },
    getColorValue() {
      if (this.room.usePreset) {
        return this.selectedLightPreset.color;
      }
      return this.room.color;
    },
    changeColorHandler(color) {
      this.room.color = color;
    },
    brightnessChangeHandler(e) {
      this.room.lightBrightness = e.target.value;
    },
    usePresetCheckboxHandler(e) {
      this.room.usePreset = e.target.checked;
      if (this.room.usePreset) {
        this.room.lightBrightness = this.selectedLightPreset.brightness;
        this.room.color = this.selectedLightPreset.color;
      }
    },
    saveBtnHandler() {
      console.log('save');
    },
    cancelBtnHandler() {
      console.log('cancel');
    },
  },
  computed: {
    roomLightModes() {
      return this.lightModes.filter((lm) => lm.roomId === this.roomId);
    },
    activeRoom() {
      return this.rooms.find((r) => r.id === this.roomId);
    },

    roomLightPresets() {
      return this.lightPresets.filter((lp) => lp.roomId === this.roomId);
    },
  },

  beforeMount() {
    this.room = this.rooms.find((r) => (r.id === this.roomId));
  },

};
</script>

<style lang="scss" scoped>

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~verte/dist/verte.css';
@import '~@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';

.room-info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  max-width: 100%;
  width: 100%;
  &__header {
     padding: 15px;
   }
}
.color-marker {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.btn-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-block {
  width: 150px;
}

.room-info__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.back-btn {
  font-size: 1em;
}

.clock-input {
  width: 50px !important;
}

</style>
