<template>
<div class="week-days-list">
  <div
    v-for="(weekDayName, index) in weekDaysNames"
    :key="index"
    class="week-day">
    <input
      :value="index"
      class="week-day__input"
      :id="`week-day-check-${id}-${index}`"
      @change="changeCheckboxHandler(index)"
      :checked="isChecked(index)"
      type="checkbox"
    >
    <label
      class="week-day__label" :for="`week-day-check-${id}-${index}`"
    >
      {{ weekDayName }}
    </label>
  </div>
</div>
</template>

<script>
export default {
  name: 'WeekDaysList',
  props: {
    weekDays: Array,
  },
  data() {
    return {
      id: Math.round(Math.random() * 1000),
      weekDaysNames: ['пн', 'вт', 'ср', 'чт', 'пт', 'cб', 'вс'],
      selectWeekDays: [],
    };
  },
  methods: {
    changeCheckboxHandler(weekDayIndex) {
      const findWeekDayIndex = this.selectWeekDays.indexOf(weekDayIndex);
      if (findWeekDayIndex === -1) {
        this.selectWeekDays.push(weekDayIndex);
      } else {
        this.selectWeekDays.splice(findWeekDayIndex, 1);
      }
      this.$emit('change-week-days', this.selectWeekDays);
    },
    isChecked(weekDayIndex) {
      const findWeekDayIndex = this.selectWeekDays.indexOf(weekDayIndex);
      return findWeekDayIndex !== -1;
    },
  },
  computed: {},
  beforeMount() {
    this.selectWeekDays = [...this.weekDays];
  },
};
</script>

<style lang="scss" scoped>
.week-days-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.week-day {
  &__label {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #333;
    color: #ccc;
  }
  &__input {
    position: absolute;
    opacity: 0;
    z-index: -999;
    &:checked {
      & ~ .week-day__label {
        background: #2c3e50;
        color: #ffffff;
      }
    }
  }
}
</style>
